  body {
    font-family:helvetica, arial, sans-serif,simsun;
    font-size:13px;
    margin:10px;
  }
  #header {
    padding-bottom:2em;
    padding-top:1em;
  }
  #header h1 {
    font-size: 30px;
    display: inline;
    color: #3d5d6a;
    padding-bottom: 40px;
    padding-left: 90px;
    padding-top: 80px;
    background: url(images/icon_64.png) no-repeat;
    background-position: 1px 62px;
  }
  h4 {
    padding-left: 0.5em;
    border-bottom: 2px dotted #c3c3c3;
    color: #333333;
    line-height: 28px;
    font-size: 15px;
  }
  p {
    padding-left: 2em;
    font-family: verdana, arial, sans-serif, simsun;
    font-size: 14px;
  }
  .contentBox {
    border: 3px solid #bec9ce;
    border-bottom-left-radius: 20px 20px;
    border-bottom-right-radius: 20px 20px;
    border-top-left-radius: 20px 20px;
    border-top-right-radius: 20px 20px;
    padding: 30px;
    text-align: left;
    margin: 50px auto;
    width: 700px;
  }
  #fillFormDiv {
        margin:20px 0 20px 12px;
  }
  .box {

    border:1px solid #99BBE8;
  }
  .ff_header {
    background:url(images/bg_title.gif);
    height:24px;
  }
  .ff_title,.ff_url,.ff_date,.ff_operate {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .ff_title {
    width: 150px;
    padding-left: 10px;
  }
  .ff_url {
    width: 320px;
    padding-left: 10px;
  }
  .ff_date {
    width: 100px;
    text-align: center;
  }
  .ff_operate {
    width: 80px;
    text-align: center;
  }
  .ff_record {
    height:200px;
    overflow: auto;
  }
  td {
    line-height: 20px;
    border-bottom:1px solid #eee;
  }
  a {
    color: #1F72D0;
    text-decoration: none;
  }
  a:hover {
    color: #FF8040;
    text-decoration: underline;
  }
  .delete {
    padding-left:10px;
    line-height: 25px;
  }
  #formContent {
    border: 1px solid #ccc;
    background: #eee;
    width: 500px;
    padding:5px;
    position: absolute;
    left:20%;
    top:20%;
    display: none;
    -webkit-box-shadow: #CCC 0px 0px 7px 1px;
  }
  #btn-close {
    float: right;
    cursor: pointer;
  }

#tt table{
    border: 1px solid #666;
}
#tt tr td{
    font-family: "lucida grande", verdana, sans-serif;
    font-size: 8pt;
    background: #fff;
    line-height:22px;
}
#tt tr td {
  padding: 3px 8px;
}
#tt thead td{
  color: #fff;
  background-color: #999;
  font-weight: bold;
  border-bottom: 1px solid #999;
}
#tt tbody td{
  border-left: 1px solid #D9D9D9;
}
#tt tbody tr.even td{
  background: #eee;
}
#tt tbody tr.selected td{
  background: #DFE8F6;
  font-weight: bold;

}
#tt tbody tr.ruled td{
  color: #000;
  background-color: #C6E3FF;
  font-weight: bold;
  border-color: #3292FC;
}

#bookmarkBox {
  border:1px #000000 solid;
  width:470px;
  background: #ffffff;
  position: absolute;
  left: 30%;
  top:10%;
  display: none;
}

#bookmarkMenuDiv {
  border:6px #C1D9FF solid;
  border-top: 0px;
  text-align: right;
  background: #E0EDFE;
  line-height:30px;
}

#bookmarkTree {
  padding:5px;
  /*border-radius:2px 2px;*/
  border:6px #C1D9FF solid;
  border-bottom: 0px;
  height: 500px;
  overflow-y: auto;
  overflow-x: hidden;
}
#bookmarkTree ul, #bookmarkTree ul li {
  width: 440px;
  list-style: none;
  margin: 0;
  padding: 0;
}

#bookmarkTree li ul {
  margin-left:1.5em;
  display: none;
}

#bookmarkTree ul li a, #bookmarkTree div {
  display:block;
  line-height: 25px;
  overflow: hidden;
  padding: 0px 4px;
  text-decoration: none;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #333333;
  font-size:13px;
}

#bookmarkTree ul li a:hover {
  text-decoration: underline;
}

ul li a img, div img{
  margin-right: 4px;
  vertical-align: text-bottom;
}
#bookmarkTree .open ul {
  display: block;
}
#bookmarkTree .close ul {
  display: none;
}
#bookmarkTree .open div {
  background:url(images/folder_open.png) no-repeat 3px 3px;
  text-indent: 25px;
}
#bookmarkTree .close div {
  background:url(images/folder_close.png) no-repeat 3px 3px;
  text-indent: 25px;
}

#bookmarkTree li div {
  border-radius: 3px 3px;
  width: 438px;
}
#bookmarkTree li div:hover,#bookmarkTree div.selected {
  background-color:#1F72D0;
  color: #ffffff;
}

#main {
  width: 900px;
  margin: 30px auto;
  border-radius: 4px 4px;
  border:2px #cccccc solid;
}

#navMenu {
  float: left;

  width: 200px;
}
#navMenu ul {
  list-style: none;
  margin: 20px auto;
  padding: 0px;
}
#navMenu li {
  line-height: 25px;
  text-align: left;
  text-indent:1em;
  margin: 0 10px;
}
#navMenu li:hover, #navMenu li.selected {
  background-color:#C6E3FF;
}

#content {
  border-left: 1px solid #cccccc;
  float:left;
}
#openBookmark {
  padding: 30px 20px;

}
#openBookmark table {
  margin-left:40px;
  margin-top:10px;
}
#openBookmark table tr td {
  border: 0px;
}
#openBookmark img {
  cursor: pointer;
}

#shortcutTable {
  width: 500px;
  margin:20px 0 20px 30px;
}

#shortcutTable table {
  width:500px;
  border:1px solid #7f9db9;
}
#shortcutTable table td{
  border-left: 1px solid #ece9d8;
  border-bottom: 1px solid #ece9d8;
  line-height: 28px;
  text-indent: 10px;
}

#shortcutTable tr:hover {
  background: #006ffc;
}

#shortcutTable td.name {
  width: 200px;
}

.clear {
  clear:both;
}